@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #858585;
    margin: 0;
}

.logo-img {
    position: relative;
    width: 50%;
    min-width: 6em;
    max-width: 10em;
    height: auto;
    display: flex;
}

.donate {
    padding-top: 1vw;
    box-shadow: 0px 2px 4px rgba(55, 71, 79, 0.16);
}

@media all and (max-width: 700px) {
    .donate {
        background-color: #fff;
        border: none;
        border-radius: 20px;
        color: #7c4dff;
        padding: 12px 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 3vw;
        margin: 2px 2px;
        transition-duration: 0.3s;
        cursor: pointer;
    }
}

@media all and (min-width: 701px) {
    .donate {
        background-color: #fff;
        border: none;
        border-radius: 20px;
        color: #7c4dff;
        padding: 12px 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 2px 2px;
        transition-duration: 0.3s;
        cursor: pointer;
    }
}

.donate:hover {
    background-color: #7c4dff;
    color: white;
}

.item {
    font-size: 20px;
}

.row.column {
    height: 620px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.img1 {
    position: absolute;
    /* width: 50%;
    min-width: 10em;
    max-width: 50em; */
    height: auto;
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width: 50%;
}

.container {
    width: 60%;
    align-items: center;
}


/* Style the header */

@media all and (min-width: 701px) {
    .row h1 {
        padding-top: 3vw;
        /* padding-left: 12vw; */
        text-align: center;
        color: white;
        font-size: 4.5vw;
    }
    /* Increase the font size of the h1 element */
    .row h2 {
        padding-top: 3.5vw;
        /* padding-left: 10vw; */
        text-align: left;
        color: white;
    }
}

@media all and (max-width: 700px) {
    .row h1 {
        padding-top: 3vw;
        /* padding-left: 12.5vw; */
        text-align: left;
        color: white;
        font-size: 4.5vw;
    }
    /* Increase the font size of the h1 element */
    .row h2 {
        font-size: 4.0vw;
        padding-top: 3.8vw;
        /* padding-left: 10.8vw; */
        text-align: center;
        color: white;
    }
}

.p1 {
    height: 770px;
    background-image: url('./assets/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    z-index: 0;
    max-width: 80%;
    margin: auto;
    padding: 10px;
}


/* Style the top navigation bar */

.navbar {
    overflow: hidden;
    background-color: #1BE1AF;
}


/* Style the navigation bar links */

.navbar a {
    flex: middle;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


/* Right-aligned link */

.navbar a.right {
    float: right;
}


/* Change color on hover */

.navbar a:hover {
    background-color: #ddd;
    color: black;
}


/* Column container */

.row {
    display: flex;
    flex-wrap: wrap;
}


/* Create two unequal columns that sits next to each other */


/* Sidebar/left column */

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}


/* Main column */

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.git {
    display: flex;
    align-items: center;
}

.git form {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 8px 24px rgba(55, 71, 79, 0.1);
}

.git h3 {
    border: none;
    color: #7c4dff;
    font-size: 16px;
    font-weight: normal;
    /* width: 100%; */
    padding: 5px 10px;
    margin: 5px 0;
    display: inline-block;
}

.star {
    background-color: #7c4dff;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 18px 30px;
    text-decoration: none;
    transition-duration: 0.3s;
    cursor: pointer;
}

.star:hover {
    box-shadow: 2px 2px 4px #7c4dff;
}

.row h4 {
    display: inline-block;
    align-items: center;
    color: #858585;
    text-align: left;
    text-decoration: none;
    font-size: 0.8vw;
    margin-top: 1em;
    font-size: 14px;
    line-height: 24px;
    /* margin-left: 13.5em; */
}

.p2 {
    background-image: url("./assets/p2-back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20pt;
}

.p2 h2 {
    color: black;
    font-size: 32pt;
    margin-bottom: 25px;
}

.p2 h3 {
    color: darkgray;
    margin-bottom: 30px;
}


/* Part 3 */

.p3 {
    height: 600px;
    background-image: url("./assets/footer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p3 .row {
    margin-top: 10em;
    z-index: 0;
    max-height: 600px;
    /* margin: auto; */
    padding: 10px;
}

.contact-mail h3 {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #5c5c5c;
}

.contact-mail h2 {
    padding: 0;
    color: #7c4dff;
}

.bottom-icon .fab {
    color: #1BE1AF;
    background-color: #fff;
    border: none;
    border-radius: 7px;
    padding: 2px 8px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.p3 input[type=text] {
    border: none;
    font-size: 16pt;
    /* width: 100%; */
    padding: 5px 10px;
    margin: 5px 0;
    display: inline-block;
}

.email-box {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.email-box form {
    display: flex;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 8px 24px rgba(55, 71, 79, 0.1);
}

.email-box button {
    background-color: #7c4dff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 13pt;
    padding: 18px 10px;
    text-decoration: none;
    transition-duration: 0.3s;
    cursor: pointer;
}

.email-box button:hover {
    background-color: #fff;
    color: #7c4dff;
}